@import "tailwindcss";

body {
  background-color: #050505;
  background-image: 
    radial-gradient(at 100% 0%, hsla(253,16%,7%,1) 0, transparent 50%), 
    radial-gradient(at 0% 100%, hsla(253,16%,7%,1) 0, transparent 50%);
  background-attachment: fixed;
  color: #EDEDED;
  -webkit-font-smoothing: antialiased;
}
